article.table > .table-row > .table-field {
    flex: none;
}




#views > section#cartView {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: start;

    margin: 0;
    margin-top: var(--view-offset);

    width: 100%;
    height: calc(100% - var(--view-offset));
}



#cartView .header {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: var(--table-width);
    min-width: var(--table-minwidth);

    margin: 30px 0;
}

#cartView .header-text {
    font-size: var(--large-fontsize);
}





#cartView div.cart-buttons {
    display: flex;
    flex-direction: row;

    align-self: center;
    align-items: center;
    justify-content: flex-end;
}

#cartView div.cart-buttons button {
    width: 130px;
    height: 35px;

    margin: 0 5px;

    border-radius: 3px;
    cursor: pointer;

    font-size: var(--medium-fontsize);
}
#cartView button#clearCart {
    background-color: #dad9d9;
}
#cartView button#placeOrder {
    margin-right: 0;
    background-color: #77ce55;
}
#cartView button#clearCart.disabled, #cartView button#placeOrder.disabled {
    background-color: #e7e3e3;
    cursor: auto;
    color: #0004;
}




/*   { -  |  4  |  + }  */

article.table .cart-counter {
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    opacity: 1;
    z-index: 1;
}

article.table .cart-counter > * {
    display: flex;

    align-items: center;
    justify-content: center;
}

article.table .cart-counter > span {
    font-size: var(--medium-fontsize);
}

#views .cart-counter > input {
    position: relative;
    display: flex;

    align-items: center;
    justify-content: center;

    text-align: center;
    
    width: 50%;
    margin: 0;
}


article.table .cart-counter > *:nth-child(2) {
    opacity: 1;
}









article.table > .table-row > .table-field:nth-child(1) {
    justify-content: center;
    width: 20px; 
    min-width: 20px; 
}
article.table > .table-row > .table-field:nth-child(2) {
    flex: 1;
    min-width: 150px;
}
article.table > .table-row > .table-field:nth-child(3) {
    justify-content: space-evenly;
    width: 120px;
    min-width: 120px;
}
article.table > .table-row > .table-field:nth-child(4) {
    justify-content: flex-end;
    width: 120px;
    min-width: 120px;
}



article.table > .table-row:hover .cart-index {
    color: #0000;
    transition: .4s all;
}
article.table > .table-row > .cart-index span {
    position: absolute;

    width: 50%;
    height: 50%;

    background-image: url('/src/icons/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
}
article.table > .table-row:hover .cart-index span  {
    transform: rotate(180deg);
    opacity: 1;

    transition: .4s all;
}


#cartView .total-price span {
    width: auto;
    padding: 4px 6px;

    color: #41a719;
    border-top: 2px solid #000a;
    
    font-size: 20px;
    text-align: end;

    transform: rotate(-15deg) translateX(45px);
}
#cartView .total-price {
    position: relative;
    display: flex;

    justify-content: end;
    width: calc(var(--table-width) - 16px);
}