#addPollView > input {
    font-size: var(--medium-fontsize);
    align-self: flex-start;
    border-bottom: 3px solid #444;

    margin: 10px 10px;
}

#postReplyBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-start;

    width: 200px;
    height: 50px;
    margin: 10px;

    background-color: var(--accent-color);
    border-radius: 3px;
    border: 1px solid #75757587;

    font-weight: 900;
}




.question-form {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    
    width: 100%;
    margin: 10px;

    border: 1px solid #555;
    border-radius: 3px;

}

.question-form section {
    display: flex;
    flex-direction: row;
    margin: 5px 15px;
}

.question-form div {
    font-size: var(--medium-fontsize);
    display: flex;
align-items: center;
}

.question-form > section > *:nth-child(2) {
    width: 100%;
}
.question-form input {
    margin-left: 15px;
    
    border-bottom: 3px solid #222;

    font-size: var(--medium-fontsize);
}