:root {
    --based-color: #222;
    --revert-color: #ddd;
    --accent-color: #bdd8ff;
    --accent-color-light: #bdd8ff88;
    --outer-bg: #fff;
    --main-bg: linear-gradient(160deg, #f7f7f7 30%, #bdd8ffa6);
    
    --font: 'Poppins', 'Montserrat';
    --small-fontsize: 14px; 
    --medium-fontsize: 18px;
    --large-fontsize: 30px;


    --header-height: 100px;
    --header-btnsize: 44px;


    --sidebar-width: 100px;
    --sidebar-iconsize: 66px;
    --sidebar-fontsize: 12px;


    --view-offset: 40px;


    --card-imagesize: 230px;
    --card-maxheight: 280px;
    --card-height: auto; /*calc(var(--card-imagesize) + 150px)*/;
    --card-width: 260px;

    --table-width: calc(90% - var(--view-offset) - var(--view-offset));
    --table-minwidth: 420px;
}


html, body {
    position: relative;

    width: 100%;
    min-height: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    background: var(--outer-bg);

    overflow: hidden;
}

div, input, span, a, button, h1, h2, h3 {
    outline: none;
    text-decoration: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    color: var(--based-color);
    font-size: var(--small-fontsize);
    font-family: var(--font);
}








main {
    display: flex;
    flex-direction: column;
    
    width: auto;
    height: calc(100% - var(--header-height));

    color: var(--based-color);
    background: #20002c;  /* fallback for old browsers */
    background: -webkit-linear-gradient(130deg, #cbb4d4, #20002c);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(180deg, #f7f7f7, #cbb4d4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    border-top-left-radius: 30px;
    background: var(--main-bg);
    box-shadow: inset 0px 0px 7px 0px #ccc;
    
    overflow: hidden;
}





.non-select {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}


::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-thumb {
    background-color: #5555;
}
