article.table {
    position: relative;

    width: var(--table-width);
    min-width: var(--table-minwidth);
    margin-bottom: 20px;
    align-self: center;

    overflow-y: auto;
}



article.table > .table-row {
    display: flex;
    flex-direction: row;

    align-items: center;
    justify-content: space-between;

    width: max-content;
    min-width: 100%;

    border-bottom: 1px solid #0004;
    background-color: #0000;
    transition: .2s all;
}
article.table > .table-row:hover {
    background-color: #00000009;
}


article.table > .table-header {
    border-bottom: 2px solid var(--based-color);
}







article.table > .table-row > .table-field {
    position: relative;
    display: flex;
    flex-direction: row;

    align-items: center;

    padding: 4px 10px;
    min-width: 178px;
    flex: 1;
    height: 36px;

    font-size: var(--medium-fontsize);

    border-right: 1px solid #0004;
    word-wrap: break-word;
    overflow: hidden;
}
article.table > .table-header > .table-field {
    opacity: .7;
}



article.table > .table-row > .table-field:first-child {
    align-items: center;
    justify-content: center;

    width: 40px;
    max-width: 40px;
    min-width: 40px;
}
article.table > .table-row > .table-field[data-field="amount"],
article.table > .table-row > .table-field[data-field="price"] {
    align-items: center;
    justify-content: center;

    width: 80;
    max-width: 80px;
    min-width: 80px;
}
article.table > .table-row > .table-field[data-field="amount"] input, 
article.table > .table-row > .table-field[data-field="price"] input {
    text-align: center;
}

article.table > .table-row > .table-field:last-child {
    border-right: none;
}
article.table > .table-row:last-child { 
    border: none;
}





article.table > .table-row > .table-field input {
    display: flex;

    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 178px;
    height: 100%;

    font-size: var(--small-fontsize);
}




article.table > .table-row:hover .table-index {
    color: #0000;
    transition: .4s all;
}
article.table > .table-row > .table-index span {
    position: absolute;

    width: 50%;
    height: 50%;

    background-image: url('/src/icons/x.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

    opacity: 0;
}
article.table > .table-row:hover .table-index span  {
    transform: rotate(180deg);
    opacity: 1;

    transition: .4s all;
}